<h3>ToDo List</h3>

<app-task 
    title="Task 1"
    description = "clean house before mother visits"
    status = "done"
    category = "family">
</app-task>
<app-task 
    title="Task 2"
    description = "mow the lawn"
    status = "done"
    category = "home">
</app-task>
<app-task 
    title="Task 3"
    description = "make another video"
    status = "in progress"
    category = "work">
</app-task>
<app-task 
    title="Task 4"
    description = "feed the pets"
    status = "in progress"
    category = "home">
</app-task>
<app-task 
    title="Task 5"
    description = "learn another framework"
    status = "started"
    category = "work">
</app-task>
<app-task 
    title="Task 6"
    description = "turn off the lights"
    status = "not started"
    category = "home">
</app-task>

