img {
    width: 60%;
    border: 1px solid black;
    display: block;
    margin: auto;
}

div {
    min-height: 240px;
    width: 90%;
}

h4 {
    text-align: center;
}

p {
    width: 60%;
    margin: auto;
}