<h3>Contacts</h3>

<div class="list">
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
    <app-contact></app-contact>
</div>

<div class="detail">
    <app-contact-detail></app-contact-detail>
</div>
