<h3>Contacts</h3>

<div class="detail">
    <app-contact-detail></app-contact-detail>
</div>

<div class="list">
    <app-contact lastname="Smith" firstname="James"></app-contact>
    <app-contact lastname="Murphy" firstname="Mary"></app-contact>
    <app-contact lastname="Lam" firstname="John"></app-contact>
    <app-contact lastname="Martin" firstname="Patricia"></app-contact>
    <app-contact lastname="Brown" firstname="Robert"></app-contact>
    <app-contact lastname="Roy" firstname="Jennifer"></app-contact>
    <app-contact lastname="Tremblay" firstname="Micheal"></app-contact>
    <app-contact lastname="Lee" firstname="Elizabeth"></app-contact>
    <app-contact lastname="Gagnon" firstname="William"></app-contact>
    <app-contact lastname="Wilson" firstname="Lynda"></app-contact>
    <app-contact lastname="Jones" firstname="David"></app-contact>
    <app-contact lastname="Johnson" firstname="Barbara"></app-contact>
</div>

<p class="clearfix"></p>


